<phpunit
    beStrictAboutOutputDuringTests="true"
    colors="true"
>
    <testsuite name="default">
        <directory>.</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
