<phpunit
    beStrictAboutOutputDuringTests="true"
    executionOrder="random"
    colors="true"
    printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
>
    <testsuite name="default">
        <directory>.</directory>
    </testsuite>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>../src</directory>
        </include>
    </coverage>
</phpunit>
